 .u-section-1 {
  background-image: none;
  min-height: 725px;
}

.u-section-1 .u-shape-1 {
  height: 263px;
  background-image: none;
  margin-top: 188px;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  width: 855px;
  height: 641px;
  object-position: 95.67% 50%;
  background-position: 95.67% 50%;
  box-shadow: -2px 2px 8px 0 rgba(128,128,128,1);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -436px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-group-1 {
  width: 528px;
  min-height: 188px;
  background-image: none;
  box-shadow: 2px -2px 8px 0 rgba(128,128,128,1);
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -308px calc(((100% - 1140px) / 2) + 42px) 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-1 .u-text-1 {
  letter-spacing: 2px;
  font-size: 3rem;
  line-height: 1;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 31px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    object-position: 23.38% 50%;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-group-1 {
    margin-right: calc(((100% - 940px) / 2) + 42px);
  }

  .u-section-1 .u-container-layout-1 {
    padding: 30px 40px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 624px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 540px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-group-1 {
    margin-top: -207px;
    margin-right: calc(((100% - 720px) / 2) + 42px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 489px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 405px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-group-1 {
    margin-top: -72px;
    margin-right: calc(((100% - 540px) / 2) + 12px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 339px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 255px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-top: 78px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding: 28px 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
} .u-section-2 {
  background-image: linear-gradient(#f2f2f2, white);
}

.u-section-2 .u-sheet-1 {
  min-height: 541px;
}

.u-section-2 .u-layout-wrap-1 {
  pointer-events: auto;
  margin: 60px auto 60px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 431px;
  pointer-events: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 55px;
}

.u-section-2 .u-text-1 {
  margin: 41px 5px 0;
}

.u-section-2 .u-text-2 {
  margin: 34px 0 0;
}

.u-section-2 .u-image-1 {
  min-height: 431px;
  pointer-events: auto;
  background-image: url("images/174652322_105955791616911_3195691006161344334_n.jpg");
  background-position: 0% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 355px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 355px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-1 {
    min-height: 272px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    min-height: 408px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    min-height: 257px;
  }
} .u-section-3 {
  background-image: linear-gradient(white, #4b5f46);
}

.u-section-3 .u-sheet-1 {
  min-height: 476px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  margin: 27px 0 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  margin: 34px auto 40px 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  grid-gap: 10px 10px;
  min-height: 315px;
}

.u-section-3 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 19px;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  color: rgb(17, 17, 17) !important;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  margin: 30px 11px 0;
}

.u-section-3 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-3 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 19px;
}

.u-section-3 .u-icon-2 {
  height: 64px;
  width: 64px;
  color: rgb(17, 17, 17) !important;
  margin: 0 auto;
}

.u-section-3 .u-text-4 {
  margin: 30px 11px 0;
}

.u-section-3 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-3 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 19px;
}

.u-section-3 .u-icon-3 {
  height: 64px;
  width: 64px;
  color: rgb(17, 17, 17) !important;
  margin: 0 auto;
}

.u-section-3 .u-text-6 {
  margin: 30px 11px 0;
}

.u-section-3 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-3 .u-list-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 19px;
}

.u-section-3 .u-icon-4 {
  height: 64px;
  width: 64px;
  color: rgb(17, 17, 17) !important;
  margin: 0 auto;
}

.u-section-3 .u-text-8 {
  margin: 30px 11px 0;
}

.u-section-3 .u-text-9 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 260px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: auto;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-top: 13px;
    margin-right: auto;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-right: auto;
  }

  .u-section-3 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-9 {
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 797px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 38px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 370px;
}

.u-section-4 .u-text-1 {
  width: 734px;
  font-size: 3rem;
  margin: 14px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 0 0 1px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 302px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-icon-1 {
  height: 48px;
  width: 48px;
  color: rgb(0, 0, 0) !important;
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 89px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-4 .u-text-3 {
  margin: 20px 6px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 302px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-icon-2 {
  height: 48px;
  width: 48px;
  color: rgb(0, 0, 0) !important;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 302px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-group-elements-1 {
  width: 200px;
  min-height: 212px;
  margin: 0 auto;
}

.u-section-4 .u-icon-3 {
  height: 48px;
  width: 48px;
  color: rgb(0, 0, 0) !important;
  margin: 0 76px;
}

.u-section-4 .u-text-4 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 64px 0 0;
}

.u-section-4 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 108px;
  font-weight: 700;
  margin: -144px auto 0;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 302px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-icon-4 {
  height: 48px;
  width: 48px;
  color: rgb(0, 0, 0) !important;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-5 {
  min-height: 302px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-group-elements-2 {
  width: 181px;
  min-height: 162px;
  margin: 0 auto;
}

.u-section-4 .u-icon-5 {
  height: 48px;
  width: 48px;
  color: rgb(0, 0, 0) !important;
  margin: 0 67px;
}

.u-section-4 .u-text-6 {
  margin: 64px 0 0;
}

.u-section-4 .u-text-7 {
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 89px;
  font-weight: 700;
  margin: -94px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 317px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 249px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 249px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 249px;
  }

  .u-section-4 .u-group-elements-1 {
    width: 159px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 249px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 249px;
  }

  .u-section-4 .u-group-elements-2 {
    width: 144px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 634px;
  }

  .u-section-4 .u-text-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 153px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-group-elements-1 {
    width: 132px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 153px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-group-elements-2 {
    width: 108px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 925px;
  }

  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 175px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 85px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 15px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 949px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 71px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 72px;
  }
} .u-section-5 {
  background-image: linear-gradient(#4b5f46, #2a3329);
}

.u-section-5 .u-sheet-1 {
  min-height: 349px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  margin: 20px 0 0;
}

.u-section-5 .u-list-1 {
  width: 884px;
  margin: 20px auto 55px 0;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px);
  grid-gap: 20px 20px;
  min-height: 215px;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 50px 30px 30px;
}

.u-section-5 .u-text-2 {
  font-size: 4.0625rem;
  font-family: Oswald, sans-serif;
  width: 107px;
  margin: 0 auto;
}

.u-section-5 .u-text-3 {
  margin: 20px auto 0;
}

.u-section-5 .u-list-item-2 {
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 50px 30px 30px;
}

.u-section-5 .u-text-4 {
  font-size: 4.0625rem;
  font-family: Oswald, sans-serif;
  width: 107px;
  margin: 0 auto;
}

.u-section-5 .u-text-5 {
  margin: 20px auto 0;
}

.u-section-5 .u-list-item-3 {
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding: 50px 30px 30px;
}

.u-section-5 .u-text-6 {
  font-size: 4.0625rem;
  font-family: Oswald, sans-serif;
  width: 107px;
  margin: 0 auto;
}

.u-section-5 .u-text-7 {
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-list-1 {
    width: 720px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 525px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-list-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-list-1 {
    width: 340px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-5 .u-text-4 {
    font-size: 3rem;
  }

  .u-section-5 .u-text-6 {
    font-size: 3rem;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 686px;
}

.u-section-6 .u-group-1 {
  width: 710px;
  min-height: 567px;
  box-shadow: -2px 0 8px 0 rgba(128,128,128,1);
  height: auto;
  margin: 19px auto 60px 0;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 0 0;
}

.u-section-6 .u-text-1 {
  text-transform: none;
  font-weight: bold;
  margin: 0 88px;
}

.u-section-6 .u-form-1 {
  height: 462px;
  margin: 19px 142px 0 88px;
}

.u-section-6 .u-form-group-4 {
  margin-bottom: 0;
}

.u-section-6 .u-form-group-5 {
  margin-top: 20px !important;
}

.u-section-6 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 50px;
  padding-right: 50px;
  background-image: none;
}

.u-section-6 .u-list-1 {
  width: 459px;
  margin: -47px -382px 0 auto;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 0px 0px;
  min-height: 112px;
}

.u-section-6 .u-list-item-1 {
  background-image: none;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
}

.u-section-6 .u-container-layout-2 {
  padding: 0;
}

.u-section-6 .u-btn-2 {
  border-style: none;
  margin: 30px auto 0;
  padding: 0;
}

.u-section-6 .u-text-2 {
  margin: 0 -20px 0 20px;
}

.u-section-6 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-icon-2 {
  width: 25px;
  height: 25px;
  margin: -25px auto 0 156px;
}

.u-section-6 .u-text-3 {
  font-size: 0.875rem;
  margin: -72px 77px 0 99px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 703px;
  }

  .u-section-6 .u-group-1 {
    min-height: 521px;
    margin-top: 49px;
    height: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 9px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-form-1 {
    height: 435px;
    width: 630px;
    margin-top: 11px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-list-1 {
    margin-top: -30px;
    margin-right: -213px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: -83px;
    margin-right: 509px;
    margin-left: 57px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 751px;
  }

  .u-section-6 .u-group-1 {
    min-height: 642px;
    margin-top: -29px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 100px;
  }

  .u-section-6 .u-list-1 {
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    margin-top: -112px;
    margin-right: 508px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 891px;
  }

  .u-section-6 .u-group-1 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-6 .u-form-1 {
    margin-right: 57px;
    margin-left: 3px;
    width: 540px;
  }

  .u-section-6 .u-list-1 {
    margin-top: 74px;
    margin-right: auto;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
    margin-left: 40px;
  }

  .u-section-6 .u-text-3 {
    margin-top: -186px;
    margin-right: 0;
    margin-left: 6px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 861px;
  }

  .u-section-6 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-list-1 {
    margin-top: 66px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-icon-2 {
    margin-left: 97px;
  }

  .u-section-6 .u-text-3 {
    margin-top: -178px;
    margin-right: -20px;
    margin-left: 20px;
  }
}